.blue_txt {
  color: #394753;
}

.white_txt {
  color: #ffffff;
}

.tan_txt {
  color: #C3AF90;
}

.egg_txt {
  color: #f0e3ce;
}

.background_color_blue {
  background-color: #394753;
}

.background_color_white {
  background-color: #ffffff;
}

.background_color_tan {
  background-color: #C3AF90;
}

.background_color_off_white {
  background-color: #f0e3ce;
}

#tan_back {
  background-color: #C3AF90;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  letter-spacing: 1.2px;
  line-height: 25px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.grid_center {
  display: grid;
  justify-items: center;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  background-color: #394753;
  min-height: 10vh;
}
header .menu_radio_button {
  display: none;
}
header #mobile_menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  height: 100%;
  background-color: #394753;
  color: #F6F4F2;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
  transform: scale(0);
}
header label {
  display: grid;
}
header #mobile_menu > label {
  justify-self: end;
  align-self: start;
}
header #menu_open:checked ~ #mobile_menu {
  visibility: visible;
  transform: scale(1);
  z-index: 10;
}
header .menu_icon > img {
  width: 60px;
}

nav {
  justify-self: end;
}
nav img {
  width: 60px;
}

.nav {
  font-size: 30px;
  color: #f0e3ce;
  text-decoration: none;
}

#nav_shrink {
  width: 60px;
  height: 60px;
}

.blue_txt {
  color: #394753;
}

.white_txt {
  color: #ffffff;
}

.tan_txt {
  color: #C3AF90;
}

.egg_txt {
  color: #f0e3ce;
}

.background_color_blue {
  background-color: #394753;
}

.background_color_white {
  background-color: #ffffff;
}

.background_color_tan {
  background-color: #C3AF90;
}

.background_color_off_white {
  background-color: #f0e3ce;
}

#tan_back {
  background-color: #C3AF90;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  letter-spacing: 1.2px;
  line-height: 25px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.grid_center {
  display: grid;
  justify-items: center;
}

footer {
  text-align: center;
  background-color: #394753;
  min-height: 10vh;
}

.blue_txt {
  color: #394753;
}

.white_txt {
  color: #ffffff;
}

.tan_txt {
  color: #C3AF90;
}

.egg_txt {
  color: #f0e3ce;
}

.background_color_blue {
  background-color: #394753;
}

.background_color_white {
  background-color: #ffffff;
}

.background_color_tan {
  background-color: #C3AF90;
}

.background_color_off_white {
  background-color: #f0e3ce;
}

#tan_back {
  background-color: #C3AF90;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  letter-spacing: 1.2px;
  line-height: 25px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.grid_center {
  display: grid;
  justify-items: center;
}

main {
  background-color: #C3AF90;
  display: grid;
  min-height: 80vh;
}

#contact {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
}
#contact h1 {
  font-size: 30px;
}
#contact a {
  text-decoration: none;
  color: black;
}

#map {
  display: grid;
}
#map iframe {
  justify-self: center;
  align-self: center;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}

#order {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  background-color: #C3AF90;
  padding-bottom: 80px;
}

#hours {
  text-align: center;
  display: grid;
  max-height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  padding-top: 25px;
}

@media only screen and (min-width: 1200px) {
  #contact_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map > iframe {
    min-height: 700px;
    height: 100%;
    width: 100%;
  }
  #contact {
    height: 350px;
    padding-top: 200px;
  }
  #contact h1 {
    font-size: 40px;
  }
  #what {
    text-align: center;
    padding-top: 80px;
  }
  #order {
    max-height: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  #hours {
    background-color: white;
  }
}

/*# sourceMappingURL=contact_style.css.map */
