.blue_txt {
  color: #394753;
}

.white_txt {
  color: #ffffff;
}

.tan_txt {
  color: #C3AF90;
}

.egg_txt {
  color: #f0e3ce;
}

.background_color_blue {
  background-color: #394753;
}

.background_color_white {
  background-color: #ffffff;
}

.background_color_tan {
  background-color: #C3AF90;
}

.background_color_off_white {
  background-color: #f0e3ce;
}

#tan_back {
  background-color: #C3AF90;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  letter-spacing: 1.2px;
  line-height: 25px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.grid_center {
  display: grid;
  justify-items: center;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  background-color: #445564;
  min-height: 10vh;
}
header .menu_radio_button {
  display: none;
}
header #mobile_menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  height: 100%;
  background-color: #445564;
  color: #F6F4F2;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
  transform: scale(0);
}
header label {
  display: grid;
}
header #mobile_menu > label {
  justify-self: end;
  align-self: start;
}
header #menu_open:checked ~ #mobile_menu {
  visibility: visible;
  transform: scale(1);
  z-index: 10;
}
header .menu_icon > img {
  width: 60px;
}

nav {
  justify-self: end;
}
nav img {
  width: 60px;
}

.nav {
  font-size: 30px;
  color: #f0e3ce;
  text-decoration: none;
}

#nav_shrink {
  width: 60px;
  height: 60px;
}

footer {
  text-align: center;
  background-color: #445564;
  min-height: 10vh;
}

#menu_page {
  background-color: #C3AF90;
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
#menu_page #pizza_menu {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  padding-bottom: 80px;
}
#menu_page #pizza_menu img {
  margin-top: 60px;
}
#menu_page #pizza_menu h1 {
  padding-top: 40px;
}
#menu_page #weekly_pie {
  padding-bottom: 100px;
}
#menu_page #cocktail_menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
}
#menu_page #cocktail_menu h1 {
  padding-top: 40px;
}
#menu_page #cocktail_menu article {
  margin-top: 50px;
}

#cocktail_list {
  padding-left: 30px;
  padding-right: 30px;
}
#cocktail_list h1 {
  padding-top: 50px;
}
#cocktail_list h3 {
  padding-top: 30px;
}

@media only screen and (min-width: 1000px) {
  #pizza_menu {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  #desktop_pizza {
    display: none;
  }
  #marg_pizza {
    display: grid;
    background-image: url(/images/pizza_7.jpg);
    background-size: cover;
    height: 40vh;
    text-align: end;
    padding-left: 70%;
  }
  #supreme_pizza {
    display: grid;
    background-image: url(/images/pizza_8.jpg);
    background-size: cover;
    height: 40vh;
    text-align: start;
    padding-right: 70%;
  }
  #mush_pizza {
    display: grid;
    background-image: url(/images/pizza_9.jpg);
    background-size: cover;
    height: 40vh;
    text-align: end;
    padding-left: 70%;
  }
  #specials_title {
    transform: translateY(125px);
  }
  #cocktail_menu .cocktail_desktop {
    color: #C3AF90;
    max-width: 375px;
    order: -1;
    max-height: 190px;
  }
  #cocktail_menu .cocktail_hover {
    grid-template-rows: 190px;
  }
  #cocktail_menu .cocktail_hover:hover .cocktail_desktop {
    transform: translateY(160px);
    transition: all ease-in-out 0.8s;
  }
}

/*# sourceMappingURL=menu_style.css.map */
