header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  background-color: #445564;
  min-height: 10vh;
}
header .menu_radio_button {
  display: none;
}
header #mobile_menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  height: 100%;
  background-color: #445564;
  color: #F6F4F2;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
  transform: scale(0);
}
header label {
  display: grid;
}
header #mobile_menu > label {
  justify-self: end;
  align-self: start;
}
header #menu_open:checked ~ #mobile_menu {
  visibility: visible;
  transform: scale(1);
  z-index: 10;
}
header .menu_icon > img {
  width: 60px;
}

nav {
  justify-self: end;
}
nav img {
  width: 60px;
}

footer {
  text-align: center;
  background-color: #445564;
  min-height: 15vh;
}

.blue_txt {
  color: #445564;
}

.white_txt {
  color: #ffffff;
}

.tan_txt {
  color: #C3AF90;
}

.egg_txt {
  color: #f0e3ce;
}

.background_color_blue {
  background-color: #445564;
}

.background_color_white {
  background-color: #ffffff;
}

.background_color_tan {
  background-color: #C3AF90;
}

.background_color_off_white {
  background-color: #f0e3ce;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  letter-spacing: 1.2px;
  line-height: 25px;
}

img {
  max-width: 100%;
}

.nav {
  font-size: 30px;
  color: #f0e3ce;
  text-decoration: none;
}

#menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  background-color: #C3AF90;
}
#menu #logo > img {
  width: 60%;
  margin-top: 25px;
}
#menu #menu_pizza {
  margin-top: 25px;
}
#menu #menu_pizza > img {
  width: 100%;
}
#menu div {
  text-align: center;
}
#menu div h1 {
  margin-top: 25px;
}
#menu div p {
  color: #445564;
}

#about_menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  background-color: #445564;
  text-align: center;
}
#about_menu #about_us {
  grid-column: span 2;
  color: #f0e3ce;
  margin-top: 20px;
}
#about_menu div {
  margin-top: 30px;
}

#info {
  display: grid;
  text-align: center;
  margin-top: 30px;
  grid-template-columns: 1fr;
}

iframe {
  width: 100%;
  margin-top: 30px;
  max-width: 700px;
}

#our_story {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  margin-top: 20px;
}
#our_story #border_blue {
  border: #445564 solid 10px;
}

#staff {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  margin-top: 30px;
}
#staff h1 {
  margin-top: 40px;
}
#staff p {
  transform: scale(0);
  transition: all ease-in-out 0.8s;
  max-height: 0px;
}
#staff div:hover p {
  transform: scale(1);
  max-height: 600px;
}

#contact {
  display: grid;
  text-align: center;
}
#contact a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
