    $blue_color: #445564;
    $white_color: #ffffff;
    $tan_color: #C3AF90;
    $off_white_color: #F6F4F2;

    footer {
        text-align: center;
        background-color: $blue_color;
        min-height: 10vh;
    }