@use "header";
@use "footer";
@import "general";

main {
    background-color: $tan_color;
    display: grid;
    min-height: 80vh;
}

#contact {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    padding-top: 60px;
    padding-bottom: 60px;

    a {
        text-decoration: none;
        color: black;
    }
}

#map {
    display: grid;

    iframe {
        justify-self: center;
        align-self: center;
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 100%;
    }
}

#order {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    background-color: $blue_color;
    padding-bottom: 80px;
}

#hours {
    text-align: center;
    display: grid;
    max-height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    padding-top: 25px;
}

@media only screen and (min-width:1200px) {
    #contact_info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #map>iframe {
        min-height: 700px;
        height: 100%;
        width: 100%;
    }

    #contact {
        height: 350px;
        padding-top: 200px;

        h1 {
            font-size: 30px;
        }
    }

    #what {

        text-align: center;
        padding-top: 80px;
    }

    #order {
        max-height: 100%;
        padding-top: 100px;
        padding-bottom: 200px;
    }

    #hours {
        background-color: white;
    }
}