@use "header";
@use "footer";
@use "general";

$blue_color: #394753;
$white_color: #ffffff;
$tan_color: #C3AF90;
$egg_color: #f0e3ce;

main {
    background-color: $tan_color;
    display: grid;
    min-height: 80vh;
}



#contact {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    padding-top: 30px;

    a {
        text-decoration: none;
    }
}

#map {
    display: grid;

    iframe {
        justify-self: center;
        align-self: center;
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 100%;
    }
}

#order {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;

}

#hours {
    text-align: center;
    display: grid;
}

@media only screen and (min-width:1200px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}