@use "header";
@use "footer";
@import "general";

#menu_page {
    background-color: $tan_color;
    display: grid;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

    #pizza_menu {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
        padding-bottom: 80px;

        img {
            margin-top: 60px;
        }

        h1 {
            padding-top: 40px;
        }

    }

    #weekly_pie {
        padding-bottom: 100px;

        h2 {
            padding-top: 20px;
        }

        h3 {
            padding-bottom: 20px;
        }
    }

    #cocktail_menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        text-align: center;

        h1 {
            padding-top: 40px;
        }

        article {
            margin-top: 50px;
        }
    }
}

#cocktail_list {
    padding-left: 20%;
    padding-right: 20%;

    h1 {
        padding-top: 50px;
    }

    h3 {
        padding-top: 30px;
    }
}

#cocktail_jump {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 20px;

    h1,
    p {
        width: 80%;
    }
}

#specials_title {
    padding-top: 30px;
}

@media only screen and (min-width:1000px) {
    #pizza_menu {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    #desktop_pizza {
        display: none;
    }

    #marg_pizza {
        display: grid;
        background-image: url(/images/pizza_7.jpg);
        background-size: cover;
        height: 40vh;
        text-align: end;
        padding-left: 70%;

        h1,
        p {
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    #supreme_pizza {
        display: grid;
        background-image: url(/images/pizza_8.jpg);
        background-size: cover;
        height: 40vh;
        text-align: start;
        padding-right: 70%;

        h1,
        p {
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    #mush_pizza {
        display: grid;
        background-image: url(/images/pizza_9.jpg);
        background-size: cover;
        height: 40vh;
        text-align: end;
        padding-left: 70%;

        h1,
        p {
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    #weekly_pie {

        p {
            width: 70%;
        }
    }

    #specials_title {
        transform: translateY(125px);

    }

    #cocktail_menu {
        .cocktail_desktop {
            color: $tan_color;
            max-width: 375px;
            order: -1;
            max-height: 190px;
        }

        .cocktail_hover {
            grid-template-rows: 190px;
        }

        .cocktail_hover:hover {

            .cocktail_desktop {
                transform: translateY(160px);
                transition: all ease-in-out .8s;
            }
        }
    }

}